[Unit]
Description=Platform configuration scrub

[Timer]
OnCalendar={{ ((apnscp_platform_scrub | type_debug) != "bool") | ternary(apnscp_platform_scrub, 'monthly') }}
Persistent=true
RandomizedDelaySec={{ apnscp_platform_scrub_delay | default('4h')}}
FixedRandomDelay=true

[Install]
WantedBy=timers.target
