[Unit]
Description=Panel update

[Timer]
OnCalendar={{ ((apnscp_nightly_update | type_debug) != "bool") | ternary(apnscp_nightly_update, 'daily')}}
RandomizedDelaySec={{ apnscp_nightly_update_delay | default('10m')}}
Persistent=true
FixedRandomDelay=true

[Install]
WantedBy=timers.target
