global
	daemon
	{% if haproxy_enable_stats %}
	stats socket /var/run/haproxy.sock mode 600 level admin
	stats timeout 2m
	{% endif %}
	nbproc {{ haproxy_worker_count }}
	# expands to cpu-map n n-1 to n
	cpu-map 1- 0-
	user haproxy
	group haproxy
	{% if ansible_distribution_major_version == '7' %}
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	{% endif %}
	chroot      /var/lib/haproxy
	pidfile     /var/run/haproxy.pid
	crt-base		{{ haproxy_ssl_directory}}
	maxconn     4000
	tune.ssl.default-dh-param 2048
	{% if not haproxy_insecure_ssl %}
	ssl-default-bind-options  no-sslv3 no-tlsv10 no-tlsv11
	{% endif %}


defaults
	option dontlog-normal
	no option http-server-close
	# Timeouts
	timeout client {{ haproxy_tcp_timeout}}
	timeout server {{ haproxy_tcp_timeout}}
	timeout connect {{ haproxy_connect_timeout}}
	timeout server {{ haproxy_tcp_timeout}}
	timeout client-fin 1s

# Postfix
frontend ft_smtp
	{% if has_ipv4 %}
	bind :25
	{% endif %}
	{% if has_ipv6 %}
	bind :::25
	{% endif %}
	mode tcp
	default_backend bk_smtp
frontend ft_smtps
	{% if has_ipv4 %}
	bind :465 ssl crt server.pem crt ./
	{% endif %}
	{% if has_ipv6 %}
	bind :::465 ssl crt server.pem crt ./
	{% endif %}
	mode tcp
	default_backend bk_submission
frontend ft_submission
	{% if has_ipv4 %}
	bind :587
	{% endif %}
	{% if has_ipv6 %}
	bind :::587
	{% endif %}
	mode tcp
	default_backend bk_submission

backend bk_smtp
	mode tcp
	timeout connect 5s
	server s1 {% if has_ipv4 %}127.0.0.1:{{ haproxy_smtp_proxied_port }}{% else %}[::1]:{{ haproxy_smtp_proxied_port }}{% endif %} send-proxy

backend bk_submission
	timeout connect 5s
	mode tcp
	server s1 {% if has_ipv4 %}127.0.0.1:{{ haproxy_submission_proxied_port }}{% else %}[::1]:{{ haproxy_submission_proxied_port }}{% endif %} send-proxy

# Dovecot
frontend ft_imap
	{% if has_ipv4 %}
	bind :143 tcp-ut 60s
	{% endif %}
	{% if has_ipv6 %}
	bind :::143 tcp-ut 60s
	{% endif %}
	mode tcp
	timeout client 600s
	default_backend bk_imap

frontend ft_imaps
	{% if has_ipv4 %}
	bind :993 ssl crt server.pem crt ./ tcp-ut 60s
	{% endif %}
	{% if has_ipv6 %}
	bind :::993 ssl crt server.pem crt ./ tcp-ut 60s
	{% endif %}
	mode tcp
	timeout client 600s
	default_backend bk_imap

frontend ft_pop3
	{% if has_ipv4 %}
	bind :110
	{% endif %}
	{% if has_ipv6 %}
	bind :::110
	{% endif %}
	mode tcp
	default_backend bk_pop3

frontend ft_pop3s
	{% if has_ipv4 %}
	bind :995 ssl crt server.pem crt ./
	{% endif %}
	{% if has_ipv6 %}
	bind :::995 ssl crt server.pem crt ./
	{% endif %}
	mode tcp
	default_backend bk_pop3

backend bk_imap
	mode tcp
	timeout server 600s
	server s1 {% if has_ipv4 %}127.0.0.1:{{ haproxy_imap_proxied_port }}{% else %}[::1]:{{ haproxy_imap_proxied_port }}{% endif %} send-proxy-v2

backend bk_pop3
	mode tcp
	server s1 {% if has_ipv4 %}127.0.0.1:{{ haproxy_pop3_proxied_port }}{% else %}[::1]:{{ haproxy_pop3_proxied_port }}{% endif %} send-proxy-v2
