{{ apnscp_root }}/storage/logs/bootstrapper.log {
	missingok
	dateext
	dateformat -%Y%m%d.log
	notifempty
	compress
	daily
	rotate 7
}

{{ apnscp_root }}/storage/logs/*_log
	{{ apnscp_root }}/storage/logs/start.log {
	weekly
	missingok
	rotate 4
	compress
	lastaction
		systemctl restart apnscp
	endscript
}

{{ apnscp_root }}/storage/logs/php-fpm.log {
	weekly
	missingok
	rotate 4
	compress
  postrotate
		/bin/kill -SIGUSR1 `cat {{ apnscp_root }}/storage/run/php-fpm.pid 2>/dev/null` 2>/dev/null || true
  endscript
}
