
#file-upload {
	height: 100px;
}

.certificate-hosts {
	list-style-type: none;
	list-style-position: outside;
	margin-left: 0;
}

#letsencrypt-legal {
	display: block;
}

#ex-subdomain:after {
	content: '.';
}

#ex-subdomain:empty:after {
	content: '';
}

#sslSubjects li:empty {
	display: none;
}

#sslSubjects + .empty-notice {
	display: none;
}

#sslSubjects:empty + .empty-notice {
	display: block !important;
}