# apnscp configuration
#
# Additional environment helpers

# User apnscp runs under
#APNSCP_SYSTEM_USER={{ apnscp_system_user }}

# A special user to run upcp as
#APNSCP_UPDATE_USER=

# Installation path of apnscp
#APNSCP_ROOT={{ apnscp_root }}

# Default apnscp update policy.
# Refer to apnscp-vars in resources/playbooks
APNSCP_UPDATE_POLICY=edge
